{% block html_head_container %}

{% include 'layout/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}">
		{% block header %}
			{% include 'layout/header.twig' %}
		{% endblock %}

		<section role="main" class="main-content">
			{% block content %}
			{% endblock %}
		</section>

		{% block popup %}
			{% include 'components/popup.twig' %}
			{% include 'components/whatsapp.twig' %}
		{% endblock %}

		{% block footer %}
			{% include 'layout/footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
