<div class="bim-popup">
    <div class="bim-popup-overlay"></div>
	<div class="bim-popup-content">
		<button class="bim-popup-close" data-menu-button="close" data-lenis-resume>
			{{ __('Fermer','bim') }}
		</button>
		<div class="bim-popup-menu">
			{% include 'components/menu.twig' with { items: menus['menu-header'].get_items } %}
		</div>
	</div>
</div>
