<div data-whatsapp-modal-status="not-active" data-whatsapp-modal="https://faq.whatsapp.com/5913398998672934/" class="whatsapp-modal">
  <div data-whatsapp-modal-toggle="" class="whatsapp-modal__dark"></div>
  <div class="whatsapp-modal__card">
    <div data-whatsapp-modal-qr-canvas="" class="whatsapp-modal__qr-canvas"></div>
    <div class="whatsapp-modal__text">
      <h2 class="whatsapp-modal__h2">{{ __('Whatsapp','bim') }}</h2>
      <p class="whatsapp-modal__p">{{ __('Scannez le QR Code pour accéder au groupe Whatsapp','bim') }}</p>
    </div>
    <a data-whatsapp-modal-link="" href="#" class="whatsapp-modal__btn button-primary">
        <span class="button-inner">
 			<span class="button-text whatsapp-modal__btn-span">{{ __('Ou sur ordinateur','bim') }}</span>
		</span>
    </a>
    <div data-hover="" data-whatsapp-modal-toggle="" class="whatsapp-modal__close">
      <div class="whatsapp-modal__close-bar"></div>
      <div class="whatsapp-modal__close-bar is--duplicate"></div>
    </div>
  </div>
</div>
