<div class="flex-paragraphe">
	<div class="flex-paragraphe-title">
		{{ layout.titre }}
	</div>
	<div class="flex-paragraphe-texte">
		{% if layout.paragraphe %}
			{{ layout.paragraphe }}
		{% endif %}
	</div>
</div>
