@use "../mixins" as *;
@use "../variables" as *;

.header {
    background-color: transparent;
    color: var(--color-dark);
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;

    &-wrapper {
        @include container();
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        display: block;

        img {
            width: auto;
            height: 2rem;
        }
    }

    &-button {
        position: relative;
        cursor: pointer;
        z-index: 20;
        font-family: $font;
        font-weight: 600;
        @media #{$md-min} {
            display: none;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
    }

    &-contact{
        @media #{$md} {
            display: none!important;
        }

        &--mobile{
            text-transform: uppercase;
            font-weight: 600;
            color: currentColor;
            text-decoration: none;
            @media #{$md-min} {
                display: none;
            }
        }
    }

    //MENU HEADER
    &-menu {
        //NIVEAU 1
        margin: 0 4em 0 0;
        @media #{$md} {
            display: none;
        }
        > ul {
            > li {
                > a {
                    text-transform: uppercase;
                    font-size: 0.8em;
                    font-weight: 600;
                    color: var(--color-dark);
                    @include underline_alt;
                }
            }
        }
    }
}
