{% extends "layout/base.twig" %}

{% block content %}
	<article class="page __chatbot">
		<div class="chatbot-window __window">

        </div>
        <input class="chatbot-text __request" type="text" />
        <button class="chatbot-button __send">Envoyer</button>
	</article>
{% endblock %}