{% extends "layout/base.twig" %}

{% block content %}
	<article class="legal">
	    <h1 class="legal-title">{{ post.title }}</h1>
	    <div class="legal-content">{{ post.content }}</div>
	</article>
{% endblock %}
