{% extends "layout/base.twig" %}

{% block content %}
	<article class="page">
		<h1 class="page-title">{{ post.title }}</h1>
		<div class="page-flexibles">
			{% for layout in flexibles %}
				{% include "flexibles/" ~ layout.acf_fc_layout ~ ".twig" %}
			{% endfor %}
		</div>
	</article>
{% endblock %}